<script type='text/javascript'>
$(function() {
  // These settings override the defaults set in application.coffee. You can do this on a per dashboard basis.
  Dashing.widget_base_dimensions = [370, 340]
  Dashing.numColumns = 3
});
</script>
<% content_for :title do %>Proof of Concept Environment Status<% end %>
<h3 style="margin-bottom: 15px; margin-top: 15px; text-align: center">Proof of Concept Environment</h3>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="service_consul_poc" data-view="Service" data-title="Consul" data-url="http://poc-poc.urbanfortress.uk:8500"></div>
    </li>

    <li data-row="1" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="service_dashing_poc" data-view="Service" data-title="Dashing" data-url="http://poc-poc.urbanfortress.uk/sample"></div>
    </li>

    <li data-row="1" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="service_nexus_poc" data-view="Service" data-title="Nexus" data-url="http://poc-poc.urbanfortress.uk:8081/"></div>
    </li>

    <li data-row="2" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="service_concourse_poc" data-view="Service" data-title="Concourse" data-url="http://poc-poc.urbanfortress.uk:8080/"></div>
    </li>

    <li data-row="2" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="service_monitoring_poc" data-view="Service" data-title="Monitoring" data-url="http://poc-poc.urbanfortress.uk:3000"></div>
    </li>

    <li data-row="2" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="health_poc" data-view="Health" data-environment="poc" data-title="Proof Of Concept Servers"></div>
    </li>
  </ul>
</div>