<% content_for :title do %>Production Environment Status<% end %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="service_consul_prod" data-view="Service" data-environment="prod" data-title="Consul Service Status"></div>
    </li>

    <li data-row="1" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="service_dashing_prod" data-view="Service" data-environment="prod" data-title="Dashing Service Status"></div>
    </li>

    <li data-row="1" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="service_nexus_prod" data-view="Service" data-environment="prod" data-title="Nexus Service Status"></div>
    </li>

    <li data-row="1" data-col="4" data-sizex="1" data-sizey="1">
      <div data-id="service_concourse_prod" data-view="Service" data-environment="prod" data-title="Concourse Service Status"></div>
    </li>

    <li data-row="1" data-col="5" data-sizex="1" data-sizey="1">
      <div data-id="service_monitoring_prod" data-view="Service" data-environment="prod" data-title="Monitoring Service Status"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="health_prod" data-view="Health" data-environment="prod" data-title="Murray's Servers"></div>
    </li>

    <li data-row="2" data-col="2" data-sizex="2" data-sizey="1">
      <div data-id="services_prod" data-view="Services" data-environment="prod" data-title="Production's Services"></div>
    </li>
  </ul>
</div>