<% content_for :title do %>My super sweet dashboard<% end %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="2">
      <div data-id="health_poc" data-view="Health" data-title="POC Smoke Test"></div>
    </li>

    <li data-row="1" data-col="2" data-sizex="1" data-sizey="2">
      <div data-id="serverhealth_poc" data-view="Serverhealth" data-environment="poc" data-title="OpsTest Services"></div>
    </li>
  </ul>
</div>
