<% content_for :title do %>Proof of Concept Dashboard<% end %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="health_poc" data-view="Health" data-title="POC goss"></div>
    </li>

    <li data-row="1" data-col="2" data-sizex="2" data-sizey="1">
      <div data-id="services_poc" data-view="Services" data-environment="poc" data-title="POC Services Status"></div>
    </li>
  </ul>
</div>
